@import '../../../styles.scss';

:host{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0.5% 1% 1% 1%;
    width: 100%;
    max-width: 100%;
   
    div {
        flex-grow: 1;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        span:nth-child(1) {
            font-weight: 500;
            //color: $primary;
            padding: 0.5vh 1vw;
            text-align: center;
        }

        span:nth-child(2) {
            font-size: 1vw;
            padding: 0.5vh 1vw;
            background-color: $grey-background;
            border: 1px solid $grey-border;
            border-radius: 12px;            
        }
    }

    div#query {
        flex-grow: 4;
    }

}
