:host{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    padding: 0.5% 1% 1% 1%;
   
    div {
        flex-grow: 1;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        b {
            padding: 0.5vh 1vw;
            text-align: center;
        }

        span {
            font-size: 1vw;
            padding: 0.5vh 1vw;
            background-color: rgb(240, 239, 239);
            border: 1px solid rgba(187, 183, 183, 0.938);
            border-radius: 12px;            
        }
    }

    div#query {
        flex-grow: 4;
    }

}
