@import '../../../styles.scss';

:host {
    display: flex;
    justify-content: center;
    padding: 0.5% 0 1.5% 0;
}

div {
    height: 3vh;
    flex-grow: 0.7;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    background: lightgray;

}    

div.colored {
    background: $gradient-right;
}

span {
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
    font-size: 1vw;
}

span.invisible {
    color: transparent;
}

span#last-one {
    padding-right: 5px;
}

