/* You can add global styles to this file, and also import other style files */


html, body { 
    height: 100%; 
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

html {
    font-size: 13px;
}

@media screen and (min-width: 1800px) {
    html {
      font-size: calc(13px + 6 * ((100vw - 1800px) / 400));
    }
}


/******* COLOR PALETTE ************/
$primary: rgb(63 81 181);
$green-correct-text: rgba(30, 155, 53);
$green-correct-background: rgb(128, 240, 179);
$red-error-text: rgb(179, 6, 6);
$red-error-background: rgb(240, 133, 133);
$grey-background: rgb(240, 239, 239, 1);
$grey-border:rgba(187, 183, 183, 0.9);

/* SCSS HEX */
$lavender-web:       #dfdef7ff;
$periwinkle-crayola: #c8d5f2ff;
$light-steel-blue:   #b1ccedff;
$middle-blue-green:  #a1d6c6ff;
$granny-smith-apple: #90e09fff;
$straw:              #d6cd5fff;
$sunray:             #d8ab56ff;
$raw-sienna:         #e1813fff;
$flame:              #e95727ff;
$red-ryb:            #ff401fff;

/* SCSS HSL */
$lavender-web: hsla(242, 61%, 92%, 1);
$periwinkle-crayola: hsla(221, 62%, 87%, 1);
$light-steel-blue: hsla(213, 63%, 81%, 1);
$middle-blue-green: hsla(162, 39%, 74%, 1);
$granny-smith-apple: hsla(131, 56%, 72%, 1);
$straw: hsla(55, 59%, 61%, 1);
$sunray: hsla(39, 63%, 59%, 1);
$raw-sienna: hsla(24, 73%, 56%, 1);
$flame: hsla(15, 82%, 53%, 1);
$red-ryb: hsla(9, 100%, 56%, 1);

/* SCSS RGB */
$lavender-web: rgba(223, 222, 247, 1);
$periwinkle-crayola: rgba(200, 213, 242, 1);
$light-steel-blue: rgba(177, 204, 237, 1);
$middle-blue-green: rgba(161, 214, 198, 1);
$granny-smith-apple: rgba(144, 224, 159, 1);
$straw: rgba(214, 205, 95, 1);
$sunray: rgba(216, 171, 86, 1);
$raw-sienna: rgba(225, 129, 63, 1);
$flame: rgba(233, 87, 39, 1);
$red-ryb: rgba(255, 64, 31, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #dfdef7ff, #c8d5f2ff, #b1ccedff, #a1d6c6ff, #90e09fff, #d6cd5fff, #d8ab56ff, #e1813fff, #e95727ff, #ff401fff);
$gradient-right: linear-gradient(90deg, #dfdef7ff, #c8d5f2ff, #b1ccedff, #a1d6c6ff, #90e09fff, #d6cd5fff, #d8ab56ff, #e1813fff, #e95727ff, #ff401fff);
$gradient-bottom: linear-gradient(180deg, #dfdef7ff, #c8d5f2ff, #b1ccedff, #a1d6c6ff, #90e09fff, #d6cd5fff, #d8ab56ff, #e1813fff, #e95727ff, #ff401fff);
$gradient-left: linear-gradient(270deg, #dfdef7ff, #c8d5f2ff, #b1ccedff, #a1d6c6ff, #90e09fff, #d6cd5fff, #d8ab56ff, #e1813fff, #e95727ff, #ff401fff);
$gradient-top-right: linear-gradient(45deg, #dfdef7ff, #c8d5f2ff, #b1ccedff, #a1d6c6ff, #90e09fff, #d6cd5fff, #d8ab56ff, #e1813fff, #e95727ff, #ff401fff);
$gradient-bottom-right: linear-gradient(135deg, #dfdef7ff, #c8d5f2ff, #b1ccedff, #a1d6c6ff, #90e09fff, #d6cd5fff, #d8ab56ff, #e1813fff, #e95727ff, #ff401fff);
$gradient-top-left: linear-gradient(225deg, #dfdef7ff, #c8d5f2ff, #b1ccedff, #a1d6c6ff, #90e09fff, #d6cd5fff, #d8ab56ff, #e1813fff, #e95727ff, #ff401fff);
$gradient-bottom-left: linear-gradient(315deg, #dfdef7ff, #c8d5f2ff, #b1ccedff, #a1d6c6ff, #90e09fff, #d6cd5fff, #d8ab56ff, #e1813fff, #e95727ff, #ff401fff);
$gradient-radial: radial-gradient(#dfdef7ff, #c8d5f2ff, #b1ccedff, #a1d6c6ff, #90e09fff, #d6cd5fff, #d8ab56ff, #e1813fff, #e95727ff, #ff401fff);

/******* SCROLLBAR **********/
*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  width: 15px;
  border-radius: 13px;
  background-clip: padding-box;
  border: 5px solid transparent;
  background-color: white;
}

*::-webkit-scrollbar-thumb {        
  box-shadow: inset 0 0 0 10px;
}

::-webkit-scrollbar-track {
    box-shadow: none;
    background-color: white;
}

/********* NOTIFICATIONS **********/
.success {
    color: white;
    background-color: rgba(30, 155, 53, 0.671)!important;

    .mat-button-wrapper {
        color: white;
    }
}

.error {
    color: white;
    background-color: rgb(196, 52, 4)!important;

    .mat-button-wrapper {
        color: white;
    }
}

/*********** BUTTONS *****************/
::ng-deep {
    .mat-stroked-button {
        width: 4vw!important;
        height: 4vh!important;
        min-width:fit-content;
        font-size: 1em;
    }
}

/********** TOGLES *************/
@media screen and (min-width: 2000px) {
    .mat-slide-toggle {
        transform: scale(1.4);
    }    
}

/********* SLIDERS ****************/
::ng-deep {
    .mat-slider-horizontal {
        min-width: 8vw;
    }
}

/********* CHECKBOX ************/
@media screen and (min-width: 2000px) {
    .mat-checkbox-inner-container {
        transform: scale(1.4);
    }    
}

@media screen and (min-width: 2000px) {
    .mat-snack-bar-container {
        transform: scale(1.4)!important;
    }    
}