<section id="input-container">
    <!-- User selection -->
    <div>  
        <label>User:</label>      
        <mat-form-field appearance="fill">         
            <mat-select [(value)]="selUserId">
                <mat-option *ngFor="let uid of userIds" [value]="uid">
                    {{uid}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <!-- Document selection -->
    <div>
        <label>Document:</label>
        <mat-form-field appearance="fill">
            <mat-select [(value)]="selDocumentId">
                <mat-option *ngFor="let docid of documentIds" [value]="docid">
                    {{docid}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</section>

<section id="buttons-container">
    <!-- Load button -->
    <mat-spinner *ngIf="isUpdating; else notUpdating"
                color="primary"
                [diameter]="20">
    </mat-spinner>

    <ng-template #notUpdating>
    <button mat-stroked-button 
        color="primary" 
        (click)="loadData()" 
        [disabled]="isLoadDisabled">
        Load
    </button>
    </ng-template> 
</section>
<section></section>
