:host {
    display: flex;
    overflow: hidden;
    margin-top: 2vh;
    font-size: min(1.5vw, 1.5vh);
}

section {
    flex-grow: 1;
    display: flex;
    align-items: baseline;
    padding: 1vh 1vw 0 1vw; 
}

section#input-container {
    flex-wrap: wrap;
    align-items: center;

    div {
        label {
            margin-left: 2vw;
        }

        mat-form-field {
            margin-left: 1vw;
            font-size: 0.9em;
        } 
    }  
}

::ng-deep .mat-form-field {
    .mat-form-field-wrapper {
        .mat-form-field-flex {
            padding: 0 .75em;      
        }            
    }
}