<!-- Check https://material.angular.io/components/select/overview -->

<main>
    <!-- Participant selection -->

    <mat-form-field appearance="fill">
        <mat-label>Participant</mat-label>
        <mat-select [(value)]="selParticipant">
        <mat-option *ngFor="let p of participants" [value]="p.id">
            {{p.id}}
        </mat-option>
        </mat-select>
    </mat-form-field>

    <!-- Stimulus selection -->
    <mat-form-field appearance="fill">
        <mat-label>Stimulus</mat-label>
        <mat-select [(value)]="selArticle">
        <mat-optgroup *ngFor="let group of articleGroups" [label]="group.name">
            <mat-option *ngFor="let article of group.articles" [value]="article.id">
            {{article.id}}
            </mat-option>
        </mat-optgroup>
        </mat-select>
    </mat-form-field>

    <!-- Load button -->
    <button mat-button color="primary" (click)="loadData()" [disabled]="loadDisabled">Load</button>

</main>