:host {
    display: flex;
    overflow: hidden;
    font-size: min(1vw, 1.6vh);
}

section {    
    display: flex;
    flex-direction: column;
    padding-top: 5px;
}

section#feature-pool {
    flex-grow: 4;
    padding-left: 7px;

    #features-container {
        display: flex;
        flex-wrap: wrap;
        margin: 1vh 0 0 0;
        
        .mat-checkbox {
            margin: 0 1vw;
            flex: 0 1 14%
        }
    }
}

section#button-container {
    flex-grow: 1;
    align-items: center;

    #toggle-container {
        display: flex;
        flex-grow: 1;
        flex-basis: auto;
        padding: 1vh 1vw;
      
        label {
          display: flex;
          align-items: flex-start;
          padding: 0px 2px 0px 2px;
          margin: 0 1vw;
        }
    }
}