:host {
    flex-grow: 1;
    overflow: hidden;
    min-height: 2em;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

footer {
    min-height: 5px;
    height: 5px;
}