<!-- Paragraph -->
<div *ngIf="paragraph && paragraph.hasLabels"
    class="paragraph" 
    [ngStyle]="{
        'top.%': (100 * paragraph.y1),
        'left.%': (100 * paragraph.x1),
        'width.%': (100 * paragraph.width),
        'max-width.%': (100 * paragraph.width),
        'height.%': (100 * paragraph.height * HEIGHT_REDUCTION),
        'max-height.%': (100 * paragraph.height * HEIGHT_REDUCTION)
    }">    
</div> 

<!-- Color bar-->
<!-- <div *ngIf="isParLevelEnabled && paragraph && !paragraph.isTitle && paragraph.hasLabels "
    class="fixation-duration-bar"
    [ngStyle]="{
        'top.%': (100 * paragraph.y1),
        'left.%': (100 * (paragraph.x1 ) - 1.4),
        'width.%': COLORBAR_WIDTH,
        'max-width.%': COLORBAR_WIDTH,
        'height.%': (100 * paragraph.height * HEIGHT_REDUCTION),
        'max-height.%': (100 * paragraph.height * HEIGHT_REDUCTION),
        'background': color
    }">
</div> -->

<!-- Paragraph details: id header -->
<div *ngIf="isParLevelEnabled && paragraph && !paragraph.isTitle && paragraph.hasLabels"
    class="paragraph-id"
    [ngStyle]="{
        'top.%': (100 * paragraph.y1),
        'left.%': (100 * (paragraph.x1 - paragraph.width * WIDTH_REDUCTION_F) - MARGIN),
        'width.%': (100 * paragraph.width * WIDTH_REDUCTION_F),
        'max-width.%': (100 * paragraph.width * WIDTH_REDUCTION_F),
        'height.%': ID_HEIGHT,
        'max-height.%': ID_HEIGHT
    }">
    <span>Paragraph {{paragraph.id}}</span>   
</div>

<!-- <div *ngIf="isParLevelEnabled && paragraph && !paragraph.isTitle && paragraph.hasLabels && !paragraph.hasFeatures"
    class="paragraph-id"
    [ngStyle]="{
        'top.%': (100 * (paragraph.y1 + (paragraph.height) / 2 )) - ID_HEIGHT,
        'left.%': (100 * (paragraph.x1 - paragraph.width * WIDTH_REDUCTION_F) - MARGIN),
        'width.%': (100 * paragraph.width * WIDTH_REDUCTION_F),
        'max-width.%': (100 * paragraph.width * WIDTH_REDUCTION_F),
        'height.%': ID_HEIGHT,
        'max-height.%': ID_HEIGHT
    }">
    <span>Paragraph {{paragraph.id}}</span>   
</div> -->


<!-- Paragraph details: features -->
<div *ngIf="isParLevelEnabled && paragraph && !paragraph.isTitle && paragraph.hasLabels"
    class="paragraph-features"
    [ngStyle]="{
        'top.%': (100 * paragraph.y1 + ID_HEIGHT),
        'left.%': (100 * (paragraph.x1 - paragraph.width * WIDTH_REDUCTION_F) - MARGIN),
        'width.%': (100 * paragraph.width * WIDTH_REDUCTION_F),
        'max-width.%': (100 * paragraph.width * WIDTH_REDUCTION_F),
        'height.%': (100 * paragraph.height * HEIGHT_REDUCTION - ID_HEIGHT),
        'max-height.%': (100 * paragraph.height * HEIGHT_REDUCTION - ID_HEIGHT)
    }">

    <div *ngFor="let feature of featuresConf">
        <div *ngIf="feature.enabled && paragraph.getFeatureById(feature.id) != -1"
            class="feature">
            <span class="feature-name">
                {{feature.units ? feature.name + " (" + feature.units + ")" : feature.name}}:
            </span>
            <span class="feature-value">
                {{paragraph.getFeatureById(feature.id) * feature.transform | number : '0.1-2'}}
            </span>
        </div> 
    </div>    
</div>


<!-- Relevance -->
<div *ngIf="isParLevelEnabled && paragraph && !paragraph.isTitle && paragraph.hasLabels"
    class="paragraph-relevance"
    [ngStyle]="{
        'top.%': (100 * paragraph.y1),
        'left.%': (100 * (paragraph.x2) + MARGIN),
        'width.%': (100 * paragraph.width * WIDTH_REDUCTION_R),
        'max-width.%': (100 * paragraph.width * WIDTH_REDUCTION_R),
        'height.%': (100 * paragraph.height * HEIGHT_REDUCTION - ID_HEIGHT),
        'max-height.%': (100 * paragraph.height * HEIGHT_REDUCTION - ID_HEIGHT)
    }">
    <div class="relevance-container">
        <div class="relevance">
            <span class="relevance-name">System relevance:</span>
            <span class="badge tf-badge">{{paragraph.systemRelevance ? 'True' : 'False'}}</span>
            <span class="badge-placeholder"></span>
        </div>
        <div class="relevance">
            <span class="relevance-name">Perceived relevance:</span>
            <span class="badge tf-badge">{{paragraph.perceivedRelevance ? 'True ' : 'False'}}</span>  
            <span class="badge-placeholder"></span>
            <div class="circular-badge-container">
                <span 
                    *ngIf="paragraph.systemRelevance == paragraph.perceivedRelevance; else perceivedUnmatch" 
                    class="badge circular-badge match-badge">
                    &#10003;
                </span>

                <ng-template #perceivedUnmatch>
                    <span class="badge circular-badge unmatch-badge">
                        &#10005;
                    </span>
                </ng-template>
            </div>       
           
        </div>
        <div *ngIf="paragraph.hasFeatures"
            class="relevance">
            <span class="relevance-name">Predicted relevance:</span>
            <span
                [ngStyle]="{'opacity.%': predictedRelevanceOpacity }" 
                class="badge probability-badge">
                {{paragraph.predictedRelevance[0] | number : '1.1-2' }}
            </span>
            <span class="badge tf-badge">{{paragraph.predictedRelevance[1] ? 'True' : 'False'}}</span>
            <span class="badge-placeholder"></span>
            <div class="circular-badge-container">
                <span 
                    *ngIf="paragraph.perceivedRelevance == paragraph.predictedRelevance[1]; else predictedUnmatch" 
                    class="badge circular-badge match-badge">
                    &#10003;
                </span>

            <ng-template #predictedUnmatch>
                <span class="badge circular-badge unmatch-badge">
                    &#10005;
                </span>
            </ng-template>
            </div>
            
        </div>
    </div>    
</div>

<!-- Labels -->
<span *ngIf="paragraph && paragraph.hasLabels"
    class="labels-container">
    <app-label *ngFor="let lbl of paragraph.labels; index as i"
            [label]="lbl"
            [isTitle]="paragraph.isTitle">
    </app-label>       
</span>
