@import '../../../styles.scss';

.absolute-postion {
    position: absolute;
    display: inline-block;
}

.paragraph {
    position: absolute;
    display: inline-block;
    //border: 1px red solid;
}

.fixation-duration-bar {
    position: absolute;
    display: inline-block;
}

.paragraph-id, .paragraph-features {
    position: absolute;
    display: inline-block;
    background: white;
    color: rgba(0, 0, 0, 0);
    text-shadow: 0 0 black;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
    transition: color .3s ease;
}

.paragraph-id {    
    font-weight: 500;
    text-align: center;
    background-color: $grey-background;
    border: 0.5px solid $grey-border;
    border-bottom-width: 2px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paragraph-features {
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    border: 0.5px solid $grey-border;
    border-top: none;
    z-index: 1;

    .feature {        
        margin: 0.5vh 0.1vw 0.5vh 0.5vw;
        padding: 5px 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        border-bottom: 3px solid rgb(187, 183, 183, 0.2);

        .feature-name {
            flex-grow: 4;
            margin-left: 0.3vw;
        }

        .feature-value {
            font-weight: 500;
            margin: 0 4px 0 6px;
            text-align: right;
            flex-grow: 1;
        }
    }
}

.paragraph-features:hover {
    color: rgba(0, 0, 0, 0.3);
  }

.paragraph-relevance {
    position: absolute;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;

    .relevance-container {
        width: 100%;
        //border: 1px solid $grey-border;
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);

        .relevance {
            margin: 0.5vh 0.1vw 0.5vh 0.5vw;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .relevance-name {
                flex-grow: 1;
                text-align: left;
            }
        }
    }
    
}

.badge {
    border-radius: 35px;
    padding: 0 0.6vw;
    margin: 0.6vh 0.2vw;
    text-align: center;
    vertical-align: baseline;
    background-color: $grey-background;
    color: black;
    //border: 1px solid $grey-border;
}

.probability-badge {
    background-color: #f8f9cb;
    color: #999708;
    font-size: 0.9em;
}

.circular-badge {
    width: 1.1vw;
    height: 1.1vw;
    border-radius: 50%;
    padding: 0;
    display: inline-block;
    font-size: 0.8em;
}

.match-badge {
    background-color: $green-correct-background;
    color: $green-correct-text;
}

.unmatch-badge {
    background-color: $red-error-background;
    color: $red-error-text;
}

.invisible-badge {
    background-color: white;
    color: white;
}



*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  width: 15px;
  border-radius: 13px;
  background-clip: padding-box;
  border: 5px solid transparent;
  background-color: white;
}

*::-webkit-scrollbar-thumb {        
  box-shadow: inset 0 0 0 10px;
}


::-webkit-scrollbar-track {
    box-shadow: none;
    background-color: white;
}