:host {
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 2em;
    position: relative;
    width: 100%;
    max-width: 100%;
    //border: 1px solid black;
}

#placeholder {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    align-items: center;
}