#content {
    position: absolute;
    display: inline-block;
    border: 1px solid red;
   
    span {
        height: 100%;
        width: 100%;
        font-size: min(2vh, 1.5vw);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    span.title {
        font-size: min(3vh, 2vw);
    }
}   
