<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>ReMA Tool - DFKI</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="/static/css2.css"></head>
  <link rel="stylesheet" href="/static/icon.css"></head>
  <link rel="stylesheet" href="/static/styles.css"></head>
<body>
  <div style="position: relative;">
    <span style="position: absolute; top: 0; right: 0; padding: 10px; font-size: 1vw">
      <b>Re</b>ading <b>M</b>odel <b>A</b>ssesment Tool - ReMA Tool
    </span>
  </div>
  <app-root></app-root>
<script src="/static/runtime.js" defer></script><script src="/static/polyfills.js" defer></script><script src="/static/vendor.js" defer></script><script src="/static/main.js" defer></script></body>
</html>
